{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="box">
        <!-- domains table -->
        <div class="sm-tbl-container" id="table1">
            <h2 class="text-center">Domaines</h2>
            <div class="tbl-header">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th class="th">Actifs</th>
                            <th class="th">Expire < 30 jours</th>
                            <th class="th">Suppressions programmées</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content-small">
                <table class="custom-table">
                    <tr>
                        <td class="td">{{ activeDomains|length }}</td>
                        <td class="td">{{ domainsToExpire|length }}</td>
                        <td class="td">{{ domainsToSuppress|length }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- END domains table -->

        <!-- domains to expire list -->
        <div id="table2">
            <h2 class="text-center">domainsToExpire</h2>
            <div class="tbl-header">
                <table class="custom-table">
                    <tr>
                        <th class="th">domaine</th>
                        <th class="th">expire le</th>
                    </tr>
                </table>
            </div>
            <div class="tbl-content">
                <table class="custom-table">
                    {% for domain in domainsToExpire %}
                        <tr>
                            <td  class="td"><a href="{{ path('admin_domain_edit', {'entityId': domain.id}) }}">{{ domain.name }}</a></td>
                            <td  class="td">{{ domain.expireAt|date("d / m / y", "Europe/Paris") }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- END domains to expire list -->

        <!-- domains list -->
        <div id="table3">
            <h2 class="text-center">domains ({{ domains.totalElements }})</h2>
            <div class="tbl-header">
                <table class="custom-table">
                    <tr>
                        <th class="th">domaine</th>
                        <th class="th">expire le</th>
                    </tr>
                </table>
            </div>
            <div class="tbl-content">
                <table class="custom-table">
                    {% for domain in domains.content %}
                        <tr>
                            <td  class="td">) }}">{{ domain.name }}</td>
                            <td  class="td">{{ domain.expirationDate|date("d / m / y", "Europe/Paris") }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- END domains list -->

        <!-- chart -->
        <div id="chart">
            <h2 class="text-center">Chart 12 months</h2>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        "{{ months.0 }}",
                        "{{ months.1 }}",
                        "{{ months.2 }}",
                        "{{ months.3 }}",
                        "{{ months.4 }}",
                        "{{ months.5 }}",
                        "{{ months.6 }}",
                        "{{ months.7 }}",
                        "{{ months.8 }}",
                        "{{ months.9 }}",
                        "{{ months.10 }}",
                        "{{ months.11 }}",
                        ],
                    datasets: [{
                        label: 'Expire',
                        data: [
                            {{ toSuppressCount.0 }},
                            {{ toSuppressCount.1 }},
                            {{ toSuppressCount.2 }},
                            {{ toSuppressCount.3 }},
                            {{ toSuppressCount.4 }},
                            {{ toSuppressCount.5 }},
                            {{ toSuppressCount.6 }},
                            {{ toSuppressCount.7 }},
                            {{ toSuppressCount.8 }},
                            {{ toSuppressCount.9 }},
                            {{ toSuppressCount.10 }},
                            {{ toSuppressCount.11 }},
                        ],
                        backgroundColor: 'rgba(234, 95, 33, 0.5)',
                        borderColor: 'rgb(234, 95, 33)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    indexAxis: 'x',
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        <!-- END chart -->
    </div>
{% endblock main %}
