{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>HOME</h1>
    <table>
        <tr>
            <td>Actifs</td>
            <td>expire < 30 jours</td>
        </tr>
        <tr>
            <td>{{ activeDomains|length }}</td>
            <td>{{ domainsToExpire|length }}</td>
        </tr>
    </table>

    <h2>domainsToExpire :</h2>
    <table>
        <tr>
            <td>|##### NAME #####|</td>
            <td>|##### EXPIRE AT #####|</td>
        </tr>
        {% for domain in domainsToExpire %}
            <tr>
                <td>{{ domain.name }}</td>
                <td>{{ domain.expireAt|date("d / m / y", "Europe/Paris") }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <p>### Il y a un chart en dessous ###</p>
    {{ render_chart(chart) }}
    <p>### Il y a un chart au dessus ###</p>
    <br>
{% endblock main %}
